<label class="label">
    <p class="label__text">{{ label-text }}</p>
    <input class="input" name="{{ input-name }}" type="{{ input-type }}" value="{{ input-value }}" placeholder="{{ input-placeholder }}">
    <p class="label__error">{{ label-error }}</p>
</label>
